<div class="container mt-5">

<div class="row flex-grow-1">
  <div class="col pd-4 mx-auto text-align-center">
    <h1 class="display-3"><%= @bnb.name %></h1>
  </div>
</div>

<div class="container-fluid">

    <div class="row flex-grow-1">
    <div class="col pd-4 mx-auto text-align-center">
    
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://picsum.photos/600/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://picsum.photos/600/300" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://picsum.photos/600/300" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>

  </div>
</div>

<div class="container my-3">
  <div class="row">
    <div class="col-9">
      <h2>Description:</h2>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
    <div class="col-3">
      <h4>Price: $<%= @bnb.price %> per night</h4>
      <h4>Location: <%= @bnb.location %></h4>
        <form action="/user/booking/<%= @bnb.id %>/new" method="post" class="py-2">
          <label for="Start" class="form-label">Start date:</label>
            <input type="date" name="start_date" value="<%= params[:start_date] %>" id="Start" class="form-control">
          <label for="End" class="form-label">End date:</label>
           <input type="date" name="end_date" value="<%= params[:end_date] %>" id="End" class="form-control">
          <input type="submit" value="Book BnB" class="btn btn-dark mx-2 mt-3">
        </form>
        <h3>
          <%= flash[:notice] %>
        </h3>
    </div>
  </div>
</div>


<ul class="flex-container wrap">
 <% if @user %>
 <% if @bookings %>
  <% @bookings.each do |reservation| %>
    <li class="flex-item reservation">
        start <%= reservation.start_date %> <br>
        <p>end <%= reservation.end_date %></p>
          <form style="display: inline;" action="/user/dashboard/<%= @user_id %>/bnb/<%= reservation.bnb_id %>/booking/<%= reservation.id %>" method="post">
              <input type='hidden' name='_method' value='DELETE'/>
              <input class="btn btn-dark mx-2" type="submit" value="Delete" />
            </form>
            <form style="display: inline;" action="/user/dashboard/<%= @user_id %>/bnb/<%= reservation.bnb_id %>/booking/<%= reservation.id %>/edit" method="get">
              <input class="btn btn-dark mx-2" type="submit" value="Edit" />
            </form>
    </li>
  <% end %>
  <% else %>
  No Bookings
  <% end %>
  <% end %>
</ul>

 <% if @user %>
  <% @dates.avalibility.each do |date| %>
  <% if date.last == false %>
  <span style="background-color: red;"> | <%= date.first %> </span>
  <% else %>
    | <span style="color: green;"> <%= date.first %> </span>
  <% end %>
  <% end %>

  <% end %>
