<div class="container w-50 my-5">
  <div class="row w-80">
    <form action="/search" method="GET" class="input-group">
      <div class="col-2 px-1 mx-auto">
        <label for="Start" class="form-label">Start date:</label>
        <input type="date" name="start_date" id="Start" class="form-control" value="<%= params[:start_date] %>">
      </div>

      <div class="col-2 px-1 mx-auto">
        <label for="End" class="form-label">End date:</label>
        <input type="date" name="end_date" id="End" class="form-control" value="<%= params[:end_date] %>">
      </div>

      <div class="col-2 px-1 mx-auto">
        <label for="min_price" class="form-label">Min price:</label>
        <input type="number" name="min_price" id="min_price" class="form-control" value="<%= params[:min_price] %>" placeholder="min price">
      </div>

      <div class="col-2 px-1 mx-auto">
        <label for="max_price" class="form-label">Max price: </label>
        <input type="number" name="max_price" id="max_price" class="form-control" value="<%= params[:max_price] %>" placeholder="Max price">
      </div>
      <div class="col-3 mx-auto">
       <label for="location" class="form-label">Location: </label>
       <div class="d-flex flex-direction-row">
        <input type="search" class="form-control" name="location" placeholder="Location" id="location" value="<%= params[:location] %>">
        <button class="btn btn-dark" type="submit"><i class="fas fa-search" style="font-size: 15px"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="container">
  <div class="row">
    <% if @bnbs %>
      <% @bnbs.each do |bnb| %>
            <div class="col-3 my-2 mx-auto text-align-center">
              <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= bnb.name %></h5>
                  <p class="card-text"><small class="text-muted">Location: <%= bnb.location %></small></p>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Congue eu consequat ac felis donec. Varius quam quisque id diam vel quam elementum. Sagittis eu volutpat odio facilisis mauris sit amet. Habitant morbi tristique senectus et netus. Velit ut tortor pretium viverra. </p>
                 <a href="/listings/bnb/<%= bnb.bnb_id %>" class="btn btn-dark">Go somewhere</a>
                </div>
              </div>
            </div>
      <% end %>
    <% else %>
    <div class="col-12 mt-5">
    <p class="display-4">Sorry, no spaces available.</p>
    <p>Try adjusting your search by changing your dates or by removing filters. Or..</p>
    <div class="col-12 mx-auto d-flex justify-content-center mt-3">
          <a class="btn btn-dark m-2 hero-button" aria-current="page" href="/listings/all" style="font-size: 30px">Get inspired</a>
    </div>
    <% end %>
    </div>
</div>
