<div class="container w-50 my-5">
  <div class="row w-80">
    <form id='form' action="/search" method="GET" class="input-group">

      <div class="col-2 px-1 mx-auto">
        <label for="Start" class="form-label">Start date:</label>
        <input type="text" placeholder="Check in" onfocus="(this.type='date')" onblur="(this.type='text')" name="start_date" id="Start" class="form-control" value="<%= params[:start_date] %>">
      </div>

      <div class="col-2 px-1 mx-auto">
        <label for="End" class="form-label">End date:</label>
        <input type="text" placeholder="Check out" onfocus="(this.type='date')" onblur="(this.type='text')" name="end_date" id="End" class="form-control" value="<%= params[:end_date] %>">
      </div>

      <div class="col-2 px-1 mx-auto">
        <label for="min_price" class="form-label">Min price:</label>
        <input type="number" name="min_price" id="min_price" class="form-control" 
        min=0 value="<%= params[:min_price] %>" placeholder="£" >
      </div>

      <div class="col-2 px-1 mx-auto">
        <label for="max_price" class="form-label">Max price: </label>
        <input type="number" name="max_price" id="max_price" class="form-control" 
        min=0 value="<%= params[:max_price] %>" placeholder="£">
      </div>
      
      <div class="col-3 mx-auto">
       <label for="location" class="form-label">Location: </label>
       <div class="d-flex flex-direction-row">
        <input type="search" class="form-control" name="location" placeholder="Anywhere" id="location" value="<%= params[:location] %>">
        <button class="btn btn-dark" type="submit"><i class="fas fa-search" style="font-size: 15px"></i></button>
        </div>
      </div>

    </form>
  </div>
</div>


<div class="container">
  <div class="row">
    <% if @bnbs.first %>
      <% @bnbs.each do |bnb| %>
            <div class="col-3 my-2 mx-auto text-align-center">
              <div class="card" style="width: 18rem;">
                <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-truncate"><%= bnb.name %></h5>
                  <p class="card-text"><small class="text-muted">Location: <%= bnb.location %></small></p>
                  <p class="card-text"><small class="text-muted">Price: £<%= bnb.price %></small></p>
                  <p class="card-text" style="height: 100px;"><%= truncate(bnb.description) %></p>

                 <a href="/listings/bnb/<%= bnb.bnb_id %><%= "?start_date=#{params[:start_date]}&end_date=#{params[:end_date]}" %>" class="btn btn-dark">Stay here!</a>
                </div>
              </div>
            </div>
      <% end %>
    <% elsif @bnb == nil %>
      <div class="col-12 mt-5">
        <p class="display-4">Sorry, no spaces available.</p>
        <p>Try adjusting your search by changing your dates or by removing filters. Or..</p>
        <div class="col-12 mx-auto d-flex justify-content-center /search?location=&start_date=2021-11-11&end_date=2021-11-13mt-3">
          <a class="btn btn-dark m-2 hero-button" aria-current="page" href="/listings/all" style="font-size: 30px">Get inspired</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
